/* INDEX */
.container {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
}

h1{
    font-family: Almarai;
    color: var(--white);
    margin: 0;
    margin-top: 20px;
    font-size: 98px;
    letter-spacing: 15px;
}

h3{
    font-family: Josefin;
    font-weight: lighter;
    color: var(--white);
    margin: 0;
    margin-top: 17px;
    font-size: 27px;
    letter-spacing: 4px;
}

.index-img{
    margin: 0;
}